section{
    display: flex;
    background-color: rgb(128, 128, 228);
    /* background-image: url(../../images/banner-images/25580.jpg); */
    
}

.half-width{
    color: white;
    align-items: flex-start;
}

.half-width img{
    width: 100%;
}